name: CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: archlinux:latest

    steps:
    - name: Update System and Install Deps
      run: |
        pacman -Syu --noconfirm
        pacman -S --noconfirm base-devel git rust

    - uses: actions/checkout@v4

    - name: Build
      run: cargo build --verbose

    - name: Run tests
      run: cargo test --verbose

    - name: Check Formatting
      run: cargo fmt -- --check

    - name: Clippy
      run: cargo clippy -- -D warnings
